html
  head
    title!= title
  link(href='/css/application.css' rel='stylesheet')
  link(href='/css/toolkit-light.min.css' rel='stylesheet')
  body
    .container
      .row
        .col.content
          table.table.table-striped.table-hover.table-sm.text-monospace.table-bordered
            thead
              tr
                th.text-center(scope="col") Player
                th.text-center(scope="col") Wins
                th.text-center(scope="col") Losses
                th.text-center(scope="col") Missing
                th.text-center(scope="col") Active
                th.text-center(scope="col") Win Percentage
            tbody
              mixin row(statistic, className)
                tr(class='font-weight-bold ' + className)
                  td
                    a(class=className href='/players/'+statistic.name)= statistic.name
                  td.text-center= statistic.wins
                  td.text-center= statistic.losses
                  td.text-center= statistic.missing
                  td.text-center= statistic.active ? '-' : 'NO'
                  td.text-center= statistic.winRatio + "%"

              each statistic in statistics
                if statistic.winRatio >= 90
                  + row(statistic, 'text-success')
                else if statistic.winRatio >= 60
                  + row(statistic, 'text-info')
                else if statistic.winRatio >= 30
                  + row(statistic, 'text-warning')
                else
                  + row(statistic, 'text-danger')
          .row
            .col
              h4 Trofeos en guerras de clanes
              canvas#chart
    script(src='/js/jquery.min.js')
    script(src='/js/popper.min.js')
    script(src='/js/tether.min.js')
    script(src='/js/Chart.min.js')
    script(src='/js/toolkit.min.js')
    script.
      var ctx = $("#chart");
      var x = !{JSON.stringify(warlogs)}
      var copas = {
        labels: x.labels,
        datasets: [{
          borderColor: '#1ca8dd',
          backgroundColor:'rgba(66,165,245,.2)',
          label: "Copas",
          data: x.warTrophies
        }]
      };
      var myLineChart = new Chart(ctx, {
        type: 'line',
        data: copas
      });
